
<script type="text/javascript">

  /*function onLoad() {
	var game = new example22("container");
console.log(game);
	game.play();
	}*/

var renderer = null,
		scene = null,
		camera = null,
		cube = null,
		animating = false;

	function onLoad()
	{
		// Grab our container div
        var container = document.getElementById("container");

        // Create the Three.js renderer, add it to our div
	    renderer = new THREE.WebGLRenderer( { antialias: true } );
	    renderer.setSize(container.offsetWidth, container.offsetHeight);
	    container.appendChild( renderer.domElement );

	    // Create a new Three.js scene
	    scene = new THREE.Scene();

	    // Put in a camera
        camera = new THREE.PerspectiveCamera( 45, container.offsetWidth / container.offsetHeight, 1, 4000 );
        camera.position.set( 0, 0, 3 );

        // Create a directional light to show off the object
		var light = new THREE.DirectionalLight( 0xffffff, 1.5);
		light.position.set(0, 0, 1);
		scene.add( light );

        // Create a shaded, texture-mapped cube and add it to the scene
        // First, create the texture map
        var mapUrl = "/img/redHare.png";
        var map = THREE.ImageUtils.loadTexture(mapUrl);

        // Now, create a Phong material to show shading; pass in the map
        var material = new THREE.MeshPhongMaterial({ map: map });

        // Create the cube geometry
        var geometry = new THREE.CubeGeometry(1, 1, 1);

        // And put the geometry and material together into a mesh
        cube = new THREE.Mesh(geometry, material);

        // Turn it toward the scene, or we won't see the cube shape!
        cube.rotation.x = Math.PI / 5;
        cube.rotation.y = Math.PI / 5;

        // Add the cube to our scene
        scene.add( cube );

        // Add a mouse up handler to toggle the animation
        addMouseHandler();

        // Run our render loop
        run();
	}

	function run()
	{
		// Render the scene
		renderer.render( scene, camera );

		// Spin the cube for next frame
		if (animating)
		{
			cube.rotation.y -= 0.01;
		}
			cube.rotation.y -= 0.01;
		// Ask for another frame
    	requestAnimationFrame(run);
	}

	function addMouseHandler()
	{
		var dom = renderer.domElement;

		dom.addEventListener( 'mouseup', onMouseUp, false);
	}

	function onMouseUp	(event)
	{
	    event.preventDefault();

	    animating = !animating;
	}

</script>
<div class="row">
	<div class="col-md-4">
		<div class="bw pic">
		<img class="img-rounded" src="/img/GuanYu.jpg"/><br>
		  <small>
           &nbsp; &nbsp; &nbsp;<i class="fa fa-chevron-left"></i> <i class="fa fa-keyboard-o"></i> USE ARROW KEYS <i class="fa fa-chevron-right"></i>
        </small>
		</div>
	</div>
	<div class="col-md-8">
    <!-- SWFObject's dynamic embed method replaces this alternative HTML content with Flash content when enough
                 JavaScript and Flash plug-in support is available. The div is initially hidden so that it doesn't show
                 when JavaScript is disabled.
            -->
            <div id="flashContent">
                <p>
                    To view this page ensure that Adobe Flash Player version
                    10.1.0 or greater is installed.
                </p>
                <script type="text/javascript">
                    var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
                    document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='"
                                    + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" );
                </script>
            </div>

            <noscript>
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="680" height="430" id="tresdb">
                    <param name="movie" value="SadHill.swf" />
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#ffffff" />
                    <param name="allowScriptAccess" value="sameDomain" />
                    <param name="allowFullScreen" value="true" />
                    <!--[if !IE]>-->
                    <object type="application/x-shockwave-flash" data="SadHill.swf" width="640" height="430">
                        <param name="quality" value="high" />
                        <param name="bgcolor" value="#ffffff" />
                        <param name="allowScriptAccess" value="sameDomain" />
                        <param name="allowFullScreen" value="true" />
                    <!--<![endif]-->
                    <!--[if gte IE 6]>-->
                        <p>
                            Either scripts and active content are not permitted to run or Adobe Flash Player version
                            10.1.0 or greater is not installed.
                        </p>
                    <!--<![endif]-->cd
                        <a href="http://www.adobe.com/go/getflashplayer">
                            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
                        </a>
                    <!--[if !IE]>-->
                    </object>
                    <!--<![endif]-->
                </object>
            </noscript>
    </div>
</div>
<script>
var props = 'transform WebkitTransform MozTransform OTransform msTransform'.split(' '),
    prop,
    el = document.createElement('div');

for(var i = 0, l = props.length; i < l; i++) {
    if(typeof el.style[props[i]] !== "undefined") {
        prop = props[i];
        break;
    }
}

var xAngle = 0, yAngle = 0;

window.setTimeout(function(){
	yAngle -= 90;
	document.getElementById('cube').style[prop] = "rotateX("+xAngle+"deg) rotateY("+yAngle+"deg)";
},4000);

$('body').keydown(function(evt) {
    switch(evt.keyCode) {
        case 37: // left
            yAngle -= 90;
            break;

        case 38: // up
            xAngle += 90;
            evt.preventDefault();
            break;

        case 39: // right
            yAngle += 90;
            break;

        case 40: // down
            xAngle -= 90;
            evt.preventDefault();
            break;
    };
    document.getElementById('cube').style[prop] = "rotateX("+xAngle+"deg) rotateY("+yAngle+"deg)";
});

$(document).ready(function(){
});
</script>
