<div class="row">
	<div class="col-md-4">
		<div class="bw pic">
		<img class="img-rounded" src="/img/GuanYu.jpg"/>
		</div>
	</div>
	<div class="col-md-8">
    <h1>Avoid Evil Do Good.</h1>
    </div>
</div>