<script src="/js/three/example21.js"></script>
<script src="/js/three/example22.js"></script>
<script>
	function onLoad() {
	var game = new example22("container");
console.log(game);	
	//game.init();	
	}
</script>
<div class="row">
	<div class="col-md-12">
	<div id="container" style="width:500px; height:500px; background-color:#000000">
    </div>
</div>
<script>
$(document).ready(function(){
	try {
		onLoad();
	}catch(e){
		console.log(e);
	}
});
</script>